@charset "UTF-8";

div {
    display:inline-block;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover {
    transition-duration: 1000ms;
    background-color: aquamarine;
}

div#d4{
    display: block;
    margin: auto;
}